@font-face {
    font-family: 'OwnglyphMoogungChae';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202@1.0/OwnglyphMoogungChae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}